@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  align-items: center;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-name {
  color: gold;
  font-size: 90px;
  font-family: Impact;
}

.button {
  color: black;
  background-color: goldenrod;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  border-width: 2px;
  border-color: black;
  font-family: Verdana;
  border-radius: 15px;
}

.button:hover {
  background-color: gold;
  color: green;
  transition: 0.40s;
}

.bric {
  display: flex;
  align-self: stretch;
}

.logo {
  height: 140px;
  width: auto;
}

.blue {
  color: lightblue;
  text-decoration: underline;
}

h1 {
  font-size: 40px;
}

div {
  margin-left: 30px;
  margin-right: 30px;
}

.schedule-button {
  color: black;
  background-color: lightblue;
  padding: 30px 50px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  border-width: 2px;
  border-color: black;
  font-family: Verdana;
  align-items: center;
  border-radius: 15px;
}

.schedule-button:hover {
  background-color: blue;
  color: white;
  transition: 0.40s;
}

.white {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.white2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
}

.gold {
  color: gold;
  font-weight: 400px;
  font-size: 16px;
}

.instructions {
  color: green;
  font-size: 30px;
  font-weight: 250;
  font-family: monospace;
}

.green {
  background-color: green;
  padding-left: 15px;
  padding-right: 15px;
}

.black {
  color: black;
  font-size: 40px;
  font-weight: 250;
  font-family: monospace;
  align-self: center;
  margin-top: 15px;
}

.instructions-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: blue;
  text-decoration: underline;
  font-size: 35px;
  font-family: monospace;
}